<h1 class= "m-4">All articles</h1>

<div class="m-4">
  <%= will_paginate @articless %>
</div>

<div class="container">

  <% @articles.each do |a| %>

    <%= render "article", article: a, header: true, trunc_body: true%>

  <% end %>
</div>

<div class="m-4">
  <%= will_paginate @articless %>
</div>