
<%# obj is defined by the caller of the render %>
<% if obj.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">The following errors prevented the <%= obj.class.name.downcase %> from beaing saved</h4>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <% ## Make sure to use '%=' when rendering to screen! %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>