
<div class="container mt-3 p-3 mb-2 bg-light text-dark border">
  <%= image_tag("laptop-blog.jpg", alt: "...", class: "w-25 object-fit-sm-contain border rounded") %>
  <p class= "d-inline"> A small description/tag line</p>
</div>

<div class="container bg-light position-relative">
  <%= link_to "SIGN UP!", signup_path, class: "btn btn-lg btn-light bg-info position-absolute top-0 start-50 translate-middle-x" %>
</div>